network:
  version: {{ netplan_version }}
  renderer: {{ netplan_renderer }}
{% if netplan_ethernets is not none %}

  ethernets:
    {{ netplan_ethernets | from_yaml | to_nice_yaml(indent=2) | indent(width=4, first=false) | trim }}
{% endif %}
{% if netplan_bonds is not none %}

  bonds:
    {{ netplan_bonds | from_yaml | to_nice_yaml(indent=2) | indent(width=4, first=false) | trim }}
{% endif %}
{% if netplan_vlans is not none %}

  vlans:
    {{ netplan_vlans | from_yaml | to_nice_yaml(indent=2) | indent(width=4, first=false) | trim }}
{% endif %}
{% if netplan_bridges is not none %}

  bridges:
    {{ netplan_bridges | from_yaml | to_nice_yaml(indent=2) | indent(width=4, first=false) | trim }}
{% endif %}
